#default-css{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.space{
  margin-top: 10px;
}

#timer{
	box-shadow: 0 10px 5px -5px rgba(#000, 0.2)
	height: 300px
	left: 50%
	line-height: 300px
	margin: -(300px / 2) 0 0 -(200px / 2)
	+perspective(500px)
	position: absolute
	text-align: center
	top: 50%
	+translateZ(0)
	width: 200px
}