<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/litera.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="http://code.jquery.com/jquery-3.2.1.min.js">
    </script>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navSpacing">
    <a class="navbar-brand" href="">Welcome</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <div ng-controller="myController" id="default-css">
        <h2 id="welcomeText">Welcome. You are Logged In as
            <%= username %>
        </h2>

        <hr>

        <div class="container space">
            <div class="row">
                <div class="col-sm-3 col-6">
                    <div class="card border-info mb-3" style="max-width: 20rem;">
                        <div style="margin: center;" class="card-header">
                            AND HIS NAME IS JOHN CENA
                        </div>
                        <div class="card-body">
                            Your screen name is
                            <%= screen_name %>
                            <br>
                            Your high score is
                            <%= high_score %> <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <script>
                    $(document).ready(function() {
                        $("#punch_id").click(function(event) {
                            event.preventDefault();
                        });
                    });
                </script>


                <!--<div ng-app="myApp" ng-controller="myController">-->
                <!--    <div>-->
                <!--        <button class="btn btn-xs btn-info pull-right" ng-click="user.high_score = user.high_score+1" ng-model="user.high_score">-->
                <!--            Punch-->
                <!--        </button>-->
                <!--    <div>-->

                    <!--Name: <input ng-model="user.high_score">-->
                    <h1 id='scoreboard'></h1>



                    <!--<form action="/user/updateHighScore" method="get" target="_blank">-->
                    <!--    <button class="btn btn-xs btn-info pull-right" type="submit" id='punch_id' formmethod="post">PUNCH</button>-->
                    <!--</form>-->
                    <br><br><br>
                    <!--<img src="smiley.gif" alt="Smiley face" height="42" width="42">-->
                    <img id='johncena' height="540" width="350" alt="John Cena" src="http://www.pngpix.com/wp-content/uploads/2016/10/PNGPIX-COM-John-Cena-PNG-Transparent-Image-1-500x750.png">

                    <br><br><br>
                    <div id='submitHighScore'></div>
                </div>

            </div>
            <!--<hr>-->
            <!--<span id="indexMsg">-->
            <!--    <%= msg %>-->
            <!--</span>-->
            <!--<hr>-->
            <!--<span id="colorText">-->
            <!--Color-->
            <!--    <%= color %>-->
            <!--  </span>-->
            <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
            <script src="/javascripts/my_app.js"></script>

    </div>
    <!--<hr>-->
    <!--<span id="indexMsg">-->
    <!--    <%= msg %>-->
    <!--</span>-->
    <!--<hr>-->
    <!--<span id="colorText">-->
    <!--Color-->
    <!--    <%= color %>-->
    <!--  </span>-->
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    
    <div id='interface'>
        <p id='epicText'>JOHN CENA TIMER</p>
        <button id="startFightButton" type="button" onclick="activateTimer()">START EPIC BATTLE</button>
        <p id="timer"></p>
        <div id='punchButton'></div>
    <div class="form-container">
                        <h2>
                            <p class="form-header">Submit High Score?</p>
                        </h2>
                        <form method="POST" action="/user/updateHighScore">
                            <h5>
                                <label>High Score:</label>
                                <input type="number" id="high_score" name="high_score" value= {{user.high_score}}><br>
                                <button type="submit" id="submit" class="btn btn-outline-success">Submit</button>
                            </h5>
                        </form>
                        </div>
                        </div>


<script>
var currentScore = 0;
function punchJohnCena() {
  currentScore += 1;
  document.getElementById('scoreboard').innerHTML = '# of hits ' + currentScore;
}

function activateTimer() {
  currentScore = 0;
  document.getElementById('scoreboard').innerHTML = '# of hits ' + currentScore;
  $('#startFightButton').remove();
  var everything = '<button id=\'punchButton\' onclick="punchJohnCena()">PUNCH</div>';
  $('#punchButton').html(everything);
    // Set the date we're counting down to
var timeRemaining = 15;

// Update the count down every 1 second
var x = setInterval(function() {

  // Display the result in the element with id="timer"
  document.getElementById("epicText").innerHTML = "JOHN CENA TIMER: " + timeRemaining
timeRemaining -= 1;
  // If the count down is finished, write some text 
  if (timeRemaining < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "TIME'S UP SUCKA";
    $('#punchButton').remove();
    $('input[name="high_score"]').val(currentScore);
    //var everything2 = ''
    //$('#submitHighScore').html(everything2);
  }
}, 1000);
}
</script>

</body>

</html>
